---
import { site } from '@/lib/site';
---

<div class="rb-topbar" aria-label="Studio-Information">
  <div class="rb-wrap rb-topbar__inner">
    <span class="rb-topbar__item">{site.address.street} · {site.address.postalCode} {site.address.city}</span>
    <span class="rb-topbar__sep" aria-hidden="true"></span>
    <span class="rb-topbar__item">{site.hours[0].days} {site.hours[0].open}–{site.hours[0].close}</span>
    <span class="rb-topbar__sep" aria-hidden="true"></span>
    <a class="rb-topbar__item rb-topbar__cta" href="/termin-buchen/">Termin buchen <span aria-hidden="true">›</span></a>
  </div>
</div>
